@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_component-animations.scss";


.photo-sidebar {
  background: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  header {
    text-shadow: -1px 0 $brand-dark , 0 1px $brand-dark, 1px 0 $brand-dark, 0 -1px $brand-dark;
  }
}

@media (min-width: $screen_md_min) {
  .photo-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    header {
      margin-top: 75px;
      margin-bottom: 75px;
    }
  }
}

@media (max-width: $screen_md_min) {
  .photo-sidebar {
    height: 100vh;

    align-items: center;
  }
}

@media (min-width: $screen_md_min) {
  .content {
    padding-right: 25px;
    padding-left: 25px;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;

  background-color: $brand-dark;

  .menu-hamburger {
    color: $white;

    position: absolute;
    top: 10px;
    left: -60px;

    &:hover {
      color: $brand-primary;
    }
  }

  .menu {
    text-align: center;

    .menu-items {
      @extend .tabs;
      margin-bottom: 0;
      border-bottom: 0;

      .menu-item {
        @extend .tab;
        display: block;
        margin-right: initial;
        text-align: left;

        i.fa {
          margin-right: 15px;
          vertical-align: middle;
        }
      }
    }
  }
}

@media (max-width: $screen_md_min) {
  .sidebar {
    $sidebar-width: 240px;
    width: $sidebar-width;
    transform: translateX($sidebar-width);
    transition: transform 0.2s ease-out;

    &.shown {
      transform: translateX(0px);
    }
  }
}
