@import "../node_modules/sierra-library/src/sierra";
@import "../node_modules/font-awesome/scss/font-awesome";

@import "layout";


address { display: inline; }

article.article {
  $space: 25px;
  padding-top: $space;
  margin-top: $space;
  padding-bottom: $space;
  margin-bottom: $space;
}

section header h2.text-big { margin-bottom: 0.25em; }

.ascii {
  margin: 3em 0;
  font-size: 6px;
  line-height: 6px;
  text-align: center;
}

h1 {
  @extend .text-huge;
}

h2 {
  @extend .text-big;
}

h3 {
  @extend .text-medium;
}

h4, h5, h6 {
  @extend .text-small;
}

.text-bold { font-weight: bold; }


pre {
  word-wrap: break-word;
  white-space: pre-wrap;
}
