<section class="border-top">
  <header>
    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}"><h2 class="text-big text-bold">{{ article.title }}</h2></a>
    <abbr class="text-small">{{article.locale_date}}</abbr>
    <address class="text-small">by
    {% for author in article.authors %}
        <a class="" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
    {% endfor %}
    </address>
  </header>
  <p>{{ article.summary }}</p>
</section>
