{% extends "base.html" %}

{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" content="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" content="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block page_title %}
  <header>
    <div class="container text-center">
      <h1 class="text-white text-with-subtitle text-bold">
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
      </h1>
      <h4 class="text-gray text-medium">
        {{ article.locale_date }}

        {% if article.modified %}
          {{ article.locale_modified }}
        {% endif %}

        {% if article.authors %}
          by {% for author in article.authors %}
              <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
            {% endfor %}
        {% endif %}
      </h4>
    </div>
  </header>
{% endblock page_title %}

{% block content %}
<section>
  <article class="article border-top border-bottom">
    {{ article.content }}
  </article>
</section>

{% include "partials/disqus.html" %}

{% endblock %}
