<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  {% block head %}
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.js"></script>
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/site.js"></script>
  {% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
  {% endif %}
  {% if FEED_ALL_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
  {% endif %}
  {% if FEED_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
  {% endif %}
  {% if FEED_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
  {% endif %}
  {% if CATEGORY_FEED_ATOM and category %}
  <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
  {% endif %}
  {% if CATEGORY_FEED_RSS and category %}
  <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
  {% endif %}
  {% if TAG_FEED_ATOM and tag %}
  <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
  {% endif %}
  {% if TAG_FEED_RSS and tag %}
  <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
  {% endif %}
  {% endblock head %}
</head>

<body id="index">
  <div class="container-fluid">
    <div class="col-xs-12 col-md-5 photo-sidebar">
      {% block page_title %}
      {% endblock page_title %}
    </div>
    <div class="col-md-2 sidebar" id="sidebar">
      <i id="menu-button" class="fa fa-bars fa-3x visible-xs-inline-block visible-sm-inline-block menu-hamburger"></i>
      <nav class="menu">
        <div class="menu-items">
        {% for title, link, icon in MENUITEMS %}
          <a class="menu-item{% if p == page %} active {% endif %}" href="{{ link }}"><i class="fa fa-fw fa-{{ icon }} fa-lg"></i>{{ title }}</a>
        {% endfor %}
        {% if DISPLAY_PAGES_ON_MENU %}
          {% for p in PAGES %}
          <a class="menu-item{% if p == page %} active {% endif %}" href="{{ SITEURL }}/{{ p.url }}"><i class="fa fa-fw fa-{{ p.metadata.icon }} fa-lg"></i>{{ p.title }}</a>
          {% endfor %}
        {% endif %}
        </div>
      </nav>
    </div>
    <div class="col-xs-12 col-md-5 col-md-offset-5 content">
      {% block content %}
      {% endblock %}
    </div>
  </div>

{% include "partials/analytics.html" %}
</body>
</html>
