{% extends "base.html" %}

{% block page_title %}
  <header>
    <div class="container text-center">
      <h1 class="text-white text-with-subtitle text-bold"><a href="/">Stuff that I have committed</a></h1>
    </div>
  </header>
{% endblock page_title %}

{% block content %}
<section>
  <article class="article">
  <ol id="post-list">
  {% for article in articles_page.object_list %}
    <li>{% include "article_preview.html" %}</li>
  {% endfor %}
  </ol>
  {% if articles_page.has_other_pages() %}
      {% include 'pagination.html' %}
  {% endif %}
  </article>
</section>
{% endblock content %}
