{% extends "base.html" %}

{% block title %}{{ page.title }}{%endblock%}

{% block page_title %}
  <header>
    <div class="container text-center">
      <h1 class="text-white text-with-subtitle text-bold">
        <a href="{{ SITEURL }}/{{ page.url }}" rel="bookmark">{{ page.title }}</a>
      </h1>
    </div>
  </header>
{% endblock page_title %}

{% block content %}
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}
    <section>
      <article class="article border-top border-bottom">
        {{ page.content }}
        {% if page.modified %}
            <p>
            Last updated: {{ page.locale_modified }}
            </p>
        {% endif %}
      </article>
    </section>

{% endblock %}
